PORT=3001
MONGO_URI=mongodb://localhost:27017/GlowFlowCatalogDB
JWT_SECRET=glowflow_catalog_secret_key_change_in_production
NODE_ENV=development
CONSUL_URL=http://localhost:8500
SERVICE_NAME=makeup-catalog-service
